[submodule "sites/all/modules/addtoany"]
	path = sites/all/modules/addtoany
	url = git://git.drupal.org/project/addtoany.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
