[submodule "sites/all/modules/addtoany"]
	path = sites/all/modules/addtoany
	url = git://git.drupal.org/project/addtoany.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/calendar"]
	path = sites/all/modules/calendar
	url = git://git.drupal.org/project/calendar.git
[submodule "sites/all/modules/captcha"]
	path = sites/all/modules/captcha
	url = git://git.drupal.org/project/captcha.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/cck"]
	path = sites/all/modules/cck
	url = git://git.drupal.org/project/cck.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date.git
[submodule "sites/all/modules/extlink"]
	path = sites/all/modules/extlink
	url = git://git.drupal.org/project/extlink.git
[submodule "sites/all/modules/filefield"]
	path = sites/all/modules/filefield
	url = git://git.drupal.org/project/filefield.git
[submodule "sites/all/modules/gmap"]
	path = sites/all/modules/gmap
	url = http://git.drupal.org/project/gmap.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = git://git.drupal.org/project/google_analytics.git
[submodule "sites/all/modules/imageapi"]
	path = sites/all/modules/imageapi
	url = git://git.drupal.org/project/imageapi.git
[submodule "sites/all/modules/imagecache"]
	path = sites/all/modules/imagecache
	url = git://git.drupal.org/project/imagecache.git
[submodule "sites/all/modules/imagefield"]
	path = sites/all/modules/imagefield
	url = git://git.drupal.org/project/imagefield.git
[submodule "sites/all/modules/jquery_ui"]
	path = sites/all/modules/jquery_ui
	url = git://git.drupal.org/project/jquery_ui.git
[submodule "sites/all/modules/lightbox2"]
	path = sites/all/modules/lightbox2
	url = git://git.drupal.org/project/lightbox2.git
[submodule "sites/all/modules/location"]
	path = sites/all/modules/location
	url = http://git.drupal.org/project/location.git
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = git://git.drupal.org/project/panels.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/recaptcha"]
	path = sites/all/modules/recaptcha
	url = git://git.drupal.org/project/recaptcha.git
[submodule "sites/all/modules/rules"]
	path = sites/all/modules/rules
	url = git://git.drupal.org/project/rules.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://git.drupal.org/project/token.git
[submodule "sites/all/modules/transliteration"]
	path = sites/all/modules/transliteration
	url = git://git.drupal.org/project/transliteration.git
[submodule "sites/all/modules/vertical_tabs"]
	path = sites/all/modules/vertical_tabs
	url = git://git.drupal.org/project/vertical_tabs.git
