[submodule "sites/all/modules/addtoany"]
	path = sites/all/modules/addtoany
	url = git://git.drupal.org/project/addtoany.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/calendar"]
	path = sites/all/modules/calendar
	url = git://git.drupal.org/project/calendar.git
[submodule "sites/all/modules/captcha"]
	path = sites/all/modules/captcha
	url = git://git.drupal.org/project/captcha.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/cck"]
	path = sites/all/modules/cck
	url = git://git.drupal.org/project/cck.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date.git
[submodule "sites/all/modules/extlink"]
	path = sites/all/modules/extlink
	url = git://git.drupal.org/project/extlink.git
[submodule "sites/all/modules/filefield"]
	path = sites/all/modules/filefield
	url = git://git.drupal.org/project/filefield.git
[submodule "sites/all/modules/gmap"]
	path = sites/all/modules/gmap
	url = http://git.drupal.org/project/gmap.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = git://git.drupal.org/project/google_analytics.git
[submodule "sites/all/modules/imageapi"]
	path = sites/all/modules/imageapi
	url = git://git.drupal.org/project/imageapi.git
[submodule "sites/all/modules/imagecache"]
	path = sites/all/modules/imagecache
	url = git://git.drupal.org/project/imagecache.git
[submodule "sites/all/modules/imagefield"]
	path = sites/all/modules/imagefield
	url = git://git.drupal.org/project/imagefield.git
